*{
  box-sizing: border-box;
}

body{
  margin: 0;

}

.header{
  background-color: rgb(180, 164, 72);
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.container{
  display: flex;
  padding: 1;
  margin: 20px;
}

#btnLogout{
  text-decoration: none;
}

.login {
  
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  
}

.signup{
  
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
  height: 200px;
}

#loginBtn{
  margin: 20px;
  text-decoration: none;
  font-size: larger;
  color: black;
}

#signupBtn{
  text-decoration: none;
  font-size: larger;
  color: black;
}


